<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
</head>
<body>

  <h1>Lista de productos</h1>

  <div id="listaProductos">
    <p>Cargando productos...</p>
  </div>

  <!-- JS público -->
  <script src="/script/productos.js"></script>

</body>
</html>